<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sussy Bakas - Reset Password</title>
  <style>
    #content {
      background-color: #212529;
      border: 1px solid #30363d;
      border-radius: 10px;
      color: #dee2e6;
      font-family: "Helvetica Neue", "Liberation Sans", Roboto, Arial, system-ui;
      margin: 10px auto;
      max-width: 600px;
      padding: 10px;
    }
    #content h1 {
      text-align: center;
    }
    #content .indent {
      margin-top: 0px;
      text-indent: 10px;
    }
  </style>
</head>
<body>
  <div id="content">
    <h1>Sussy Bakas - Reset Password</h1>
    <hr>
    <b>Dear %s,</b>
    <p class="indent">
      A password reset request was made with your email ID. This email will be valid only for 5 minutes. If you didn't make this request, kindly ignore it and now changes will be made to your account.
    </p>
    <p>
      <b>Password Reset Link:</b>
      <a href="%s">Click Here</a>
    </p>
    <p>
      <b>Regards,</b>
      <br>
      Team Sussy Bakas
    </p>
  </div>
</body>
</html>
