<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sussy Bakas - Verify Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="container">
  <div class="border bg-body my-3 p-3 rounded">
    <h1>Sussy Bakas - Maintenance Required</h1>
    <hr>
    <b>Dear Lineman,</b>
    <p>
      &nbsp;A street light went haywire in your area. You are requested to fix it before tomorrow. Thank you.
    </p>
    <p>
      <ul>
        <li>
          <b>Location (faulty street light):</b>
          <a href="%s">Google Maps</a>
        </li>
        <li>
          <b>Acknowledgement:</b>
          <a href="%s">Click Here</a>
        </li>
        <li>
          <b>Completion:</b>
          <a href="%s">Click Here</a>
        </li>
      </ul>
    </p>
    <p class="mb-0">
      <b>Regards,</b>
      <br>
      Team Sussy Bakas
    </p>
  </div>
</div>
</body>
</html>
