{% extends 'base.html' %}

{% block title %}Sussy Bakas - Dashboard{% endblock %}

{% block content %}
<div class="text-center mb-3">
  <h1>Dashboard</h1>
  {% if current_user.is_authenticated %}
  <em class="">Hello, {{ current_user.full_name }}!</em>
  {% endif %}
</div>
<div class="row align-items-center mb-3">
  <div class="col-xl mb-3 mb-xl-0 text-center">
    <div class="border rounded">{{ map_iframe | safe }}</div>
  </div>
  <div class="col-xl">
    <div class="table-responsive border rounded">
      <table class="table table-hover mb-0">
        <caption class="ms-2">Overall Statistics</caption>
        <tbody>
          <tr>
            <th scope="row">Registered Street Lights</th>
            <td>128</td>
          </tr>
          <tr>
            <th scope="row">Registered Workers</th>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">Total Power Consumption (KW)</th>
            <td>256</td>
          </tr>
          <tr>
            <th scope="row">Active Street Lights</th>
            <td>256</td>
          </tr>
          <tr>
            <th scope="row">Inactive Street Lights</th>
            <td>12</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr>
<div>
  <h2>Live Data Feed</h2>
  <div class="d-flex">
    <select id="light-select" class="form-select" aria-label="Select a Light">
      <option selected value="0">Select a Light</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
  </div>
  <div id="live-feed" class="bg-light border overflow-auto rounded font-monospace mt-3 p-3" style="display: none; max-height: 500px;">
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script>
  let socketHandle = io("127.0.0.1:5000/rtdatastream");

  socketHandle.on("data_egress", data => {
    var element = document.getElementById("live-feed");

    element.style.display = "block";

    element.appendChild(
      document.createTextNode(`${JSON.stringify(new Date())} => ${JSON.stringify(data)}`)
    );
    element.appendChild(
      document.createElement("br")
    );
  });

  document.getElementById("light-select").addEventListener("change", function() {
    var selectedOption = parseInt(this.value);

    if (selectedOption) {
      var element = document.getElementById("live-feed");

      element.innerHTML = "";
      element.style.display = "block";

      element.appendChild(
        document.createTextNode(`ID: ${selectedOption}`)
      );
      element.appendChild(
        document.createElement("br")
      );
    }
  });
</script>
{% endblock %}
