{% extends 'base.html' %}

{% block title %}Sussy Bakas - About{% endblock %}

{% block root_style %}
style="max-width: 500px;"
{% endblock %}

{% block content %}
<h1 class="mb-3 text-center">Socket Testing Utility</h1>
<div class="mb-3">
  <b><label for="data-input" class="form-label">Data</label></b>
  <input type="text" class="form-control" id="data-input">
</div>
<button id="send-btn" class="btn border w-100">Send Data (event: <code>data_ingress</code>)</button>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script>
  let socketHandle = io("/rtdatastream");

  socketHandle.on("data_egress", function(data) {
    console.log(data)
  });

  document.getElementById("send-btn").addEventListener("click", function() {
    data = document.getElementById("data-input").value;

    socketHandle.emit("data_ingress", data);
  });
</script>
{% endblock %}
