{% extends 'base.html' %}

{% block title %}Sussy Bakas - Tickets{% endblock %}

{% block content %}
<h1 class="mb-3 text-center">Tickets</h1>
<div class="d-flex">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Issue</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Area:</b> Ambattur</li>
      <li class="list-group-item"><b>Last Maintenance:</b> 12/05/2024 15:15:45</li>
      <li class="list-group-item"><b>Reported by:</b> Adam Sanks</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link" style="text-decoration: none;">Resolve</a>
    </div>
  </div>
</div>
{% endblock %}
